---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Header from '../components/Header.astro'
import Technologies from '../components/Technologies.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
---

<Layout title="Portfolio: Germán Binder">
	<Navbar />
	<main>
		<Header />
		<Technologies />
		<Experience />
		<Projects />
		<Contact />
	</main>
</Layout>

<style>

</style>
