---
---
<section>
    <h2 class="text-4xl text-center font-bold mb-8">Últimos <span class="text-mainColor">Proyectos</span></h2>
    <div class="portfolio-container grid grid-cols-[repeat(2,_1fr)] gap-12">
        <div class="portfolio-box">
            <div class="portfolio-detail hidden">
                <p class="numb text-9xl 1px text-transparent leading-[1]">01</p>
            </div>
            <div class="portfolio-detail">
                <p class="numb text-9xl 1px text-transparent leading-[1]">02</p>
            </div>
            <div class="portfolio-detail">
                <p class="numb text-9xl 1px text-transparent leading-[1]">03</p>
            </div>
            <div class="portfolio-detail">
                <p class="numb text-9xl 1px text-transparent leading-[1]">04</p>
            </div>
            <div class="portfolio-detail">
                <p class="numb text-9xl 1px text-transparent leading-[1]">05</p>
            </div>
            <div class="portfolio-detail">
                <p class="numb text-9xl 1px text-transparent leading-[1]">06</p>
            </div>
        </div>
        <div class="portfolio-box">

        </div>
    </div>
</section>

<style>
.numb{
    -webkit-text-stroke: .07rem #fff;
}